.features {
    position: relative;

    padding-top: 140px;
    padding-bottom: 219px;
    padding-right: 107px;
    .features__id {
        margin-bottom: 30px;
    }
    .title {
        padding-left: 345px;
        margin-bottom: 126px;
    }
    .features__text {
        font-weight: 500;
        font-size: 288px;
        line-height: 0.083;
        text-align: center;
        letter-spacing: 0.1em;
        color: #000000;
        opacity: 0.02;

        margin-bottom: 109px;
    }
    .image {
        padding-left: 70px;
    }
    .features__link {
        position: absolute;
        top: 600px;
        left: 735px;
    }
    .features__link:hover + .features__wrapper,
    .features__link:focus + .features__wrapper,
    .features__link:active + .features__wrapper {
        opacity: 1;
        pointer-events: none;
    }
}
.features__wrapper {
    position: absolute;
    left: 801px;
    top: 310px;
    opacity: 0;

    max-width: 532px;
    padding: 53px 112px 53px 62px;
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(15, 31, 70, 0.09);
    border-radius: 10px;
    
    .features__undertitle {
        font-weight: 300;
        font-size: 36px;
        line-height: 1.444;
    }
    .features__undertext {
        font-weight: 300;
        font-size: 16px;
        line-height: 1.5;
        color: #000000;
        opacity: 0.2;
    }
    .wrapper-img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 127px;
        height: 111px;
    }
}