.features {
    padding-top: 140px;
    padding-bottom: 411px;
    a {
        margin-bottom: 30px;
    }
    .title {
        padding-left: 345px;
        margin-bottom: 126px;
    }
    .features__text {
        font-weight: 500;
        font-size: 288px;
        line-height: 0.083;
        text-align: center;
        letter-spacing: 0.1em;
        color: #000000;
        opacity: 0.02;

        margin-bottom: 109px;
    }
    .image {
        padding-left: 70px;
    }
}