.footer {
    display: flex;
    background-color :#0D1F48; ;

    padding-top: 56px;
    padding-left: 61px;
    padding-right: 160px;
    padding-bottom: 64px;
    .logo {
        position: static;
        top: 56px;
        left: 61px;
    }
    .logo__icon {
        margin-bottom: 66px;
        margin-right: 187px;
    }
    .footer__undertitle {
        margin-bottom: 17px;
        font-weight: normal;
        font-style: normal;
        font-size: 18px;
        line-height: 1.167;
        color: #FFFFFF;
    }
    .footer__list {
        display: flex;
    }
    
    .footer__item:not(:last-child){
        margin-right: 20px;
    }
    .footer__wrapper:nth-child(2) {
        margin-right: 142px;
    }
    .footer__wrapper:nth-child(3) {
        margin-right: 173px;
    }
    .footer__wrapper-item:not(:last-child) {
        margin-bottom: 15px;
    }
    .footer__undertitle-mb {
        margin-bottom: 30px;
    }
}
.footer__wrapper {
    a {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 1.167;
        color: #FFFFFF;
    }
}
.footer__wrapper-form {
    ::placeholder {
        background-color: #0D1F48;
        border-color: transparent;
        color: rgba(255, 255, 255, .5);
        
    }
    .footer__undertitle {
        margin-bottom: 30px;
    }
    .box {
        position: relative;
    }
    .box input {
        border: none;
        border-bottom: 1px solid rgba(157, 164, 189, 0.4);
        background-color: transparent;
        width: 320px;
        height: 46px;
        padding: 8px ;
        color: #FFFFFF;
    }
    .box button {
        position: absolute;
        right: 0;
        bottom: 12px;

        border: none;
        background-color: transparent;
        color: rgba(255, 255, 255, .5);
        font-size: 20px;
    }
}