.header {
    position: relative;
    background-image:
    linear-gradient(to right, #0d1f49 50%, transparent 50%, transparent 100% ),
    url('../../images/circles.png'),
    linear-gradient(270deg, rgba(193, 193, 193, 0.9) -1.53%, rgba(196, 196, 196, 0.22) 100%);
    // background-color: violet;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, top 92px right 16px, center;

    padding-top: 45px;
    padding-bottom: 27px;
    .header__img {
        position: absolute;
        pointer-events: none;
        bottom: -60px;
        left: 300px;
    }
}
.button {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.429;
    color: #FFFFFF;

    padding: 13px 57px;
    margin-bottom: 76px;

    background: #345764;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
}
.button-white {
    display: block;
    margin-left: auto;
    font-size: 16px;
    line-height: 1.437;
    color: #010306;
    font-style: 400;

    padding: 12px 19px;
    margin-bottom: 0;
    background-color: var(--color-on-darktheme);
    border-color: transparent;
}
.header__nav {
    display: flex;
    .header__list{
        display: flex;
        margin-left: auto;
    }
}

.header__title {
    font-family: Jost;
    font-style: normal;
    font-weight: 300;
    font-size: 96px;
    line-height: 1.042;
    color:var(--color-on-darktheme);

    max-width: 477px;

    margin-bottom: 30px;
}
.header__text {
    font-size: 18px;
    line-height: 1.5;
    color: #FFFFFF;
    opacity: 0.8;

    max-width: 307px;
    margin-bottom: 68px;
}

.header__item:not(:last-child) {
    margin-right: 52px;
}
.header__list {
    margin-bottom: 115px;
}
.header__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.429;
    color:var(--main-color);
}

.logo{
    position: absolute;
    left: 60px;
    top: 45px;
    margin-bottom: 114px;
}


