.sleep {
    padding-top: 151px;
    padding-bottom: 130px;
    .title {
        max-width: 307px;
        margin-bottom: 30px;
    }
    .text {
        max-width: 307px;
    }
    .wrapper {
        padding-left: 675px;
    }
}