.works {
    padding-bottom: 284px;
    padding-top: 274px;
    .title {
        max-width: 307px;
        margin-bottom: 30px;
    }
    .text {
        max-width: 308px;
    }
    .works__png {
        position: absolute;
        bottom: -180px;
        right: 0;
    }
    .works__png-second {
        position: absolute;
        bottom: -281px;
        right: 0;

    }
    
}
.works {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}