:root {
    --main-color: #000000;
    --color-on-darktheme: #ffffff;
    --color-of-button:#275290; 
    --bgc-section:#275290; 
    --bgc-color-header: #0D1F48;
    --bgc-color-linear: rgba(193, 193, 193, .9);
}